<main class="container-fluid" ng-controller="LinkController as linkCtrl">
	<div class="row">
		<section class="col-sm-6 col-md-4"
			ng-show="searchResults.length > 0"
			ng-repeat="linkGroup in linkCtrl.groups | orderBy:'links.length'">
			<!--Each group is hidden if the search query filters all results. 'searchResults' is 
			defined in the ng-repeat BELOW for weblinks in this group -->
			<div name="link-group" class="{{linkCtrl.getThemeClassName()}}">
				<h3>{{linkGroup.groupName}}
				<a href="" ng-click="linkCtrl.setEditing(linkGroup.groupName)" title="Add a link in {{linkGroup.groupName}}"
					class="addLink" tabindex="-1">
				</a>
				<a href="" ng-click="linkCtrl.setEditing(linkGroup.groupName)" title="Add a link in {{linkGroup.groupName}}" tabindex="-1"
					<span class="fa fa-plus addLink-fa"></span>
				</a>
				</h3>
				<ul>
					<li class="aWeblink" ng-repeat="link in linkGroup.links | filter:linkCtrl.queryStr.data as searchResults">
						<a href="{{link.url}}">{{link.title}}</a>
						<span class="comment" ng-show="{{link.comment.length > 0}}">-- {{link.comment}}</span>
					</li>
				</ul>
			</div>
			<div ng-show="linkCtrl.isEditing(linkGroup.groupName)">
				<form name="addForm"
					ng-submit="addForm.$valid && linkCtrl.addLink(linkGroup)" novalidate>
					<fieldset class="form-group">
					<input ng-model="linkCtrl.linkToAdd.title" type="text" class="form-control" placeholder="Name" title="Name" required autofocus="true" ng-focus="true" />
					<input ng-model="linkCtrl.linkToAdd.url" type="url" class="form-control" placeholder="http://example.org" title="URL" required />
					<input ng-model="linkCtrl.linkToAdd.comment" type="text" class="form-control" placeholder="Comment" title="Comment" />
					<input type="submit" class="btn btn-primary" value="Save" />
					<a class="btn btn-danger btn-xs" ng-click="linkCtrl.setEditing('')">Cancel</a>
					</fieldset>
				</form>
			</div>
		</section>
	</div>
	<div ng-show="linkCtrl.debugSearch().length == 0" class="noResults">No Results Found</div>
	<!-- TODO: Don't call this function if there's nothing in the search input -->
</main>

<!-- TODO: Add a 'no results found' message when filter has no hits. Ex here: https://docs.angularjs.org/api/ng/directive/ngRepeat -->
<!-- TODO: Add a usageCount for each link and increment it when clicked. Style based on usage, to make the links used more often more prevalent -->