html {
    font-size: 16px;
}
body {
    font-size: 62.5%;
	margin: 15px;
	/*background: url('pattern_40.gif');  use only with linkGroupGlow */
}
h3 {
    margin-top:0px;
}
h3#basic {
    font-size: 3.5em;
    font-family: Candara;
    text-shadow: 2px 3px 2px #000;
    color: #fff;
}
h3#retro {
    color: #d7ceb2;
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
}
.via {
    font-size: 1.0em;
}
.aWeblink {
    font-size: 1.8em;
    font-family:Garamond,serif;
}
.aWeblink a {
    text-shadow: none;
}
.aWeblink .comment {
    font-size: 0.8em;
    font-family: Maiandra GD,MV boli,Tahoma,serif;
}
.addLink {
	width: 16px;
	height:16px;
	display:inline-block;
	background-image: url('sprites_16.png');
}
.addLink:hover {
	background-position: 0 -16px;
}
.addLink-fa, .addLink-fa:hover, .addLink-fa:active {
    color: rgba(0,0,100,0.6);
    text-shadow: 1px 2px 1px rgba(0,0,0,0.2);
    font-size: 0.6em;
    text-decoration: none; /* no underline */
}
.addLink-fa:hover {
    text-shadow: 0px 0px 5px #fff;
}
.ng-invalid.ng-dirty {
  border-color: red;
  border-width: 2px;
}
.ng-valid.ng-dirty {
  border-color: green;
}
.hide-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
}
#searchDiv {
	text-align: right;
	margin-right: 20px;
	padding-bottom: 3px;
}
.linkGroup {
    background-image: linear-gradient(to right bottom, #B6D0D9 0%, #F5F5F5 100%);
    border: 1px solid #999;
    border-radius: 6px 0 20px 0;
    margin-bottom: 10px;
    padding: 12px 16px;
    box-shadow: 2px 3px 5px #ccc;
}
.linkGroup2 {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fefef1;
    border-bottom-right-radius: 12px;
    border-color: #f7a600;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    box-shadow: 2px 3px 5px #ccc;
    color: #222;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 16px;
}
.linkGroupGlow {
	box-shadow: 0 0 14px #fff;
	border-radius: 6px 0 15px 0;
	margin-bottom: 4px;
	color: #000;
	text-shadow: 1px 1px 4px #fff;
}