<main class="webl-container" ng-controller="LinkController as linkCtrl">
    <section class="webl-group"
        ng-show="searchResults.length > 0 && linkGroup.groupName != 'Certes'"
        ng-repeat="linkGroup in linkCtrl.groups | orderBy:'groupName' | groupFilter:linkCtrl.queryStr.data as fltrdLinks">
        <!--Each group is hidden if the search query filters all results. 'searchResults' is
        defined in the ng-repeat BELOW for weblinks in this group -->
        <div name="link-group" class="{{linkCtrl.getThemeClassName()}}">
        <ul class="pageBreakForFirefox"><li>
            <h3>{{linkGroup.groupName}}
            <a href="" ng-click="linkCtrl.setEditing(linkGroup.groupName)" title="Add a link in {{linkGroup.groupName}}"
                class="addLink" tabindex="-1">
            </a>
            <a href="" ng-click="linkCtrl.setEditing(linkGroup.groupName)" title="Add a link in {{linkGroup.groupName}}" tabindex="-1"
                <span class="fa fa-plus addLink-fa"></span>
            </a>
            </h3>
            <div ng-show="linkCtrl.isEditing(linkGroup.groupName)">
                <form name="addForm"
                    ng-submit="addForm.$valid && linkCtrl.addLink(linkGroup)" novalidate>
                    <fieldset class="form-group">
                    <input ng-model="linkCtrl.linkToAdd.title" type="text" class="form-control" placeholder="Name" title="Name" required autofocus="true" ng-focus="true" />
                    <input ng-model="linkCtrl.linkToAdd.url" type="url" class="form-control" placeholder="http://example.org" title="URL" required />
                    <input ng-model="linkCtrl.linkToAdd.comment" type="text" class="form-control" placeholder="Comment" title="Comment" />
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <a class="btn btn-danger btn-xs" ng-click="linkCtrl.setEditing('')">Cancel</a>
                    </fieldset>
                </form>
            </div>
            <ul>
                <li class="aWeblink"
                    ng-repeat="link in linkGroup.links | orderBy:'title' | linkFilter:linkCtrl.queryStr.data as searchResults">
                    <a href="{{link.url}}">{{link.title}}</a>
                    <span class="comment" ng-show="{{link.comment.length > 0}}">&mdash; {{link.comment}}</span>
                </li>
            </ul>
        </li></ul>
        </div>
    </section>
</main>
<div class="noResults" ng-show="gremlinCtrl.getFilteredLinks().length === 0" ng-controller="GremlinController as gremlinCtrl">
    <div class="gremlin">{{gremlinCtrl.getGremlin()}}</div>
    <div>No Results Found</div>
</div>

<!-- TODO: Style the 'no results found' for 'bluish' and 'clean' -->
<!-- TODO: Add a usageCount for each link and increment it when clicked. Style based on usage, to make the links used more often more prevalent -->