<div id="searchDiv" ng-controller="SearchController as searchCtrl">
	<form name="searchForm" role="form" class="form-inline" ng-submit="searchCtrl.gotoSingleWeblink()">
	<div class="form-group">
		<input type="search" name="searchInput" class="form-control"
			placeholder="Search Weblinks" ng-model="searchCtrl.queryStr.data"
            autofocus clear-with-esc>
        <span class="fa fa-search search-icon"
					ng-class="{'local-storage': dataCtrl.isJsonFromLocalStorage() && dataCtrl.localStorageModalEnabled()}"><!-- crazily, this seems to be for alighment -->
				</span>
	</div>
	</form>
</div>
