<a href="#" ng-show="dataCtrl.isJsonFromLocalStorage() && dataCtrl.localStorageModalEnabled()" class="label label-warning via"
  data-toggle="modal"
  data-target="#jsonModal">via Local Storage</a>

<!-- The Modal Dialog -->
<div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Copy to urls.json, Save, then Close</h4>
      </div>
      <div class="modal-footer after-header">
        <button class="btn btn-default"
                ngclipboard data-clipboard-target="#unleashTheData" ngclipboard-success="dataCtrl.copySuccess(e)">Copy</button>
        <button class="btn btn-info" data-dismiss="modal">Cancel (do nothing)</button>
        <button class="btn btn-danger btn-xs" data-dismiss="modal" ng-click="dataCtrl.clearJsonLocal()">Submit (clear local storage)</button>
      </div>
      <div class="modal-body">
        <pre id="unleashTheData" class="animated" ng-class="{'fadeIn': dataCtrl.copyClicked === true}">{{dataCtrl.getWeblinksAsJson()}}</pre>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
